.about-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    margin: 0px auto;
    color: white;
    align-items: center;
    justify-content: center;
}

.about-header {
    font-size: 2.5vw;
    padding: 20px;
}

.about-text {
    padding: 30px;
    text-align: center;
    font-size: 1.8em;
}

@media (max-width: 1500px) {
    .about-container {
        width: 70vw;
    }
    .about-header {
        font-size: 2.8vw;
        padding: 20px;
        margin-top: 30px;
    }
    .about-text {
        font-size: 1.6em;
    }
}

@media (max-width: 1000px) {
    .about-container {
        width: 95vw;
    }
    .about-header {
        font-size: 7vw;
        padding: 10px;
        margin-top: 150px;
    }
    .about-text {
        font-size: 1.2em;
    }
}
