.home-container {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 80%;
    height: 55%;
    align-items: center;
    justify-content: center;
    margin: 20vh auto 50px auto;
    text-align: center;
    color: var(--text-color);
}

.my-img {
    height: 300px;
    margin: 30px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px var(--medium-blue);
}

.txt-type > .txt {
    border-right: 0.1em solid var(--text-color);
}

.home-container a {
    text-decoration: none;
    color: inherit;
}

.home-container i {
    margin-top: 50px;
    font-size: 60px;
}

@media (max-width: 600px) {
    .home-container {
        font-size: 80%;
    }

    .my-img {
        height: 250px;
    }
}