.navbar-container {
    position: sticky;
    top: 0px;
    width: 100vw;
    height: 35px;
    z-index: 100;
    background: rgb(100, 125, 220);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 50px rgb(0, 129, 180);
}

.navbar-menu {
    display: flex;
    margin: 10px;
    list-style: none;
}

.navbar-item {
    width: 100px;
    height: 35px;
    padding-top: 8px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 700;
    margin: 0px 8px;
}

.active,
.navbar-item:hover {
    border-radius: 10px;
    background:  rgb(39, 178, 233);
    transition: all 0.3s ease;
}

.navbar-menu a {
    text-decoration: none;
}

.toggle-button {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }

    .navbar-menu {
        display: none;
    }

    .navbar-menu.small {
        display: flex;
        flex-direction: column;
    }

    .navbar-container {
        position: absolute;
        flex-direction: column;
        height: 35px;
    }

    .navbar-container.small {
        height: 30%;
    }

    .navbar-item {
        margin: 5px;
    }
}