@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

* {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home-container {
    /* background: blueviolet; */
    display: block;
    max-width: 1500px;
    align-items: center;
    justify-content: center;
    margin: 100px auto 50px auto;
    text-align: center;
    color: white;
}

.my-img {
    margin: 30px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px rgb(0, 129, 180);
}

.txt-type > .txt {
    border-right: 0.1em solid white;
}