@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

* {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

:root {
    /* CSS Variables */
    --animation-background: radial-gradient(#485777, #2b2e3d);
    --dark-blue: rgb(100, 125, 220);
    --medium-blue: rgb(0, 129, 180);
    --light-blue: rgb(39, 178, 233);
    --text-color: #ffffff;
}