@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar-container {
    position: sticky;
    top: 0px;
    width: 100vw;
    height: 35px;
    z-index: 10;
    /* background: #535d66; */
    background: rgb(100, 125, 220);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 50px rgb(0, 129, 180);
}

.navbar-menu {
    margin: 10px;
    list-style: none;
}

.navbar-item {
    width: 100px;
    height: 35px;
    padding-top: 8px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.navbar-item:hover {
    /* border-bottom: 4px solid #73af9c; */
    border-bottom: 4px solid #0026a5;
    transition: all 0.1s ease;
}

a {
    text-decoration: none;
}

.projects-container {
    margin-top: 20px;
    z-index: 10;
    color: white;
}

.project{
    padding: 2rem;
}

.programming {
    display: flex;
}

.cardbox {
    margin: auto 20px;
    padding: 30px;
    border-radius: 20px;
    background: rgb(100, 125, 220);
    width: 100%;
    text-decoration: none;
    color: rgb(231, 231, 231);
}

.cardbox:hover {
    box-shadow: 0px 0px 30px rgb(0, 129, 180);
}

.project-header {
    text-align: center;
    padding: 30px;
    
}

.title-header {
    text-align: center;
    margin: 8px;
}

#background-animation {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: radial-gradient(#485777, #2b2e3d);
}